* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 1200px;
  padding: 0 2%;
  margin: 3rem auto;
}

.album {
  display: flex;
  max-width: 420px;
  max-height: 200px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 9px rgb(189, 189, 189);
  border-radius: 10px;
}
.album__img {
  width: 40%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.album__information {
  width: 100%;
  padding: 1.1rem;
}

.album__information > * {
  margin-bottom: 1rem;
}

.album__information--buttons {
  display: flex;
  justify-content: space-between;
}

.album__information--love {
  font-size: 2rem;
}

.album__information--music {
  color: #787878;
}

.album__information--buttons {
  height: 40px;
  display: flex;
  align-items: center;
}

.album__information--button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(82, 82, 82);
  background-color: #ffc0cb;
  border-radius: 15px;
  font-weight: bold;
  padding: 6px 10px;
}
